body {background-color: lightcyan}
h1 {color: teal; text-align: center}
p {font-family: Verdana; font-size: 20px; text-align: center}
h4 {color: darkblue; text-align: left}
ul {text-align: left}
li {font-family: Verdana; font-size: 15px}
